.intro {
    inline-size: min(90%, 900px);
    margin-block: calc(var(--spacing-17) * 2.5);
    margin-inline: auto;
}

.intro__hero {
    text-align: center;
}

.intro__title {
    letter-spacing: 1.2px;
    font-family: var(--ff-sans-normal);
    color: var(--text1);
    font-weight: 800;
}

.intro__info {
    letter-spacing: 1.2px;
    margin-bottom: 2rem;
    font-size: var(--fs-500);
    margin-top: var(--spacing-7);
    max-inline-size: 80%;
    margin-inline: auto;
    color: var(--text2);
}

.intro__links {
    display: flex;
    gap: 2.5vh;
    justify-content: center;
}

.intro__btn {
    text-decoration: none;
    padding: .8rem 1.5rem;
    border-radius: 6px;
    color: var(--text1);
}

.intro__btn--get-started {
    background-color: var(--brand);
    color: var(--light-clr);
}

.intro__btn--github {
    background: none;
    font-weight: bold;
    font-size: var(--fs-300);
    border: 1px solid var(--text1);
}

.intro__img-container {
    display: none;
}