<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova-Documentation</title>
    <script src="/javascript/theme.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/design-system.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/comp-page.css">
    <link rel="stylesheet" href="./image.css">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/stackoverflow-dark.min.css" integrity="sha512-Xn1b0y/BrCD7usnEh6r9CcKxHXFVleVUjGDnfc95zDDwFUwtOz3lJC/XtJcuLRNyrMQJEEToFfwjC9Ue/aWY/g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="surface-one">
  <aside class="sidebar grid" id="sidenav-open">
    <section class="sidebar__content">
      <div class="sidebar__top flex">
        <h2 class="sidebar__title">Nova UI</h2>
      </div>
      <div class="sidebar__bottom">
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Get Started</p></li>
          <li class="sidebar__list-item"><a href="#">Installation</a></li>
          <li><a href="#" class="sidebar__list-item">Learn</a></li>
          <li><a href="#" class="sidebar__list-item">Usage</a></li>
          <li><a href="#" class="sidebar__list-item">Examples</a></li>
          <li><a href="#" class="sidebar__list-item">Conclusion</a></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Components</p></li>
          <li class="sidebar__list-item"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/alert/alert.html"
            >Alert</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/badge/badge.html"
            >Badge</li></a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/button/button.html"
            >Button</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/card/card.html"
            >Card</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/image/image.html"
            >Images</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/input/input.html"
            >Input</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/texts/text.html"
            >Text Utilities</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/lists/list.html"
            >List</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/navigation/navigation.html"
            >Navigation</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/modal/modal.html"
            >Modal</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/ratings/ratings.html"
            >Ratings</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/toast/toast.html"
            >Toast</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/grid/grid.html"
            >Simplified Grid</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/slider/slider.html"
            >Slider</a
          ></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Design System</p></li>
        </ul>
      </div>
    </section>
    <a
      href="#"
      id="sidenav-close"
      class="sidebar__close"
      title="Close Menu"
    ></a>
  </aside>
  <header class="surface-two shadow-one">
    <nav class="nav row">
      <ul class="nav__list row">
        <li class="hamburger nav__hamburger"><a
          href="#sidenav-open"
          id="sidenav-button"
          title="Open Menu"
          aria-label="Open Menu"
        >
          <img
            src="/assets/menu_black_24dp (1).svg"
            alt=""
            class="nav__item"
          />
        </a></li>
        <li class="nav__item logo">Nova <span>UI</span></li>
      </ul>
      <ul class="nav__list hide nav__list--box">
        <li class="nav__item nav__item--pages"><a href="/index.html"
          >Home</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="/pages/intro.html"
          >Documentation</a
        ></li>
        <li class="nav__item nav__item--pages"><a
          href="https://github.com/manish591/NovaUI"
          >Github</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="#">About</a></li>
      </ul>
      <ul class="nav__links row">
        <li><a href="https://github.com/manish591"
          ><img class="nav__img" src="/assets/github.png" alt=""
        /></a></li>
        <li><a class="hide" href="https://twitter.com/manishdevrani77"
          ><img class="nav__img" src="/assets/twitter.png" alt=""
        /></a></li>
        <li><a class="hide" href="https://www.linkedin.com/in/manishdevrani77/"
          ><img class="nav__img" src="/assets/linkedin.png" alt=""
        /></a></li>
        <li><button
          class="theme-toggle nav__img nav__theme nav__item"
          id="theme-toggle"
          data-label="auto"
        ></button></li>
      </ul>
    </nav>
  </header>
    <div class="component component--grid">
      <section class="sidenav flow-space">
        <div class="sidenav__get-started">
          <h3 class="sidenav__title">Getting Started</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/intro.html" class="sidenav__items-link">Installation</a></li>
            <li class="sidenav__items"><a href="#">Learn</a></li>
            <li class="sidenav__items"><a href="#">Usage</a></li>
            <li class="sidenav__items"><a href="#">Example</a></li>
            <li class="sidenav__items"><a href="#">Conclusion</a></li>
          </ul>
        </div>
        <div class="sidenav__components">
          <h3 class="sidenav__title">Components</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
            <li class="sidenav__items"><a href="/pages/components/alert/alert.html"
              >Alert</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/badge/badge.html"
              >Badge</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/button/button.html"
              >Button</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/card/card.html"
              >Card</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/image/image.html"
              >Image</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/input/input.html"
              >Input</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/texts/text.html"
              >Text utilities</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/lists/list.html"
              >List</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/navigation/navigation.html"
              >Navigation</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/modal/modal.html"
              >Modal</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/ratings/ratings.html"
              >Ratings</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/toast/toast.html"
              >Toast</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/grid/grid.html"
              >Simplified grid</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/slider/slider.html"
              >Slider</a
            ></li>
          </ul>
        </div>
        <div class="sidenav__design-system">
          <h3 class="sidenav__title">Design System</h3>
        </div>
      </section>

        <section class="feed">
          <div class="flow-space-2 space-bottom">
            <h1 class="feed__title">Images</h1>
            <p class="feed__text">Images are essential part of web. They need to be responsive so they won't get bigger than their parent container. Use our predefined classes to make images responsive as well as of custom sizes.</p>
          </div>

          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Square Images</h3>
            <p class="feed__text">
              They are of Square shaped with dimensions equal to 200 x 200.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--flex">
                <img src="https://images.unsplash.com/photo-1541480601022-2308c0f02487?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8b2JqZWN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="alarm clock" class="square-img">
                <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHBob25lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="telephone" class="square-img">
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
              </div>
              <div class="feed__code">
                
              </div>
            </div>
          </div>

          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Round Images</h3>
            <p class="feed__text">
              These are cicular images with a dimension of 200 x 200.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--flex">
                <img src="https://images.unsplash.com/photo-1589487391730-58f20eb2c308?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vdGJhbGx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="football" class="round-img">
                <img src="https://images.unsplash.com/photo-1597733153203-a54d0fbc47de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29va2llc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="cookies" class="round-img">
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
              </div>
              <div class="feed__code">
                
              </div>
            </div>
          </div>

          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Responsive Images</h3>
            <p class="feed__text">
              These images will be as big as their parent container to give them responsive nature. As their parent grows and shrink they will also grow and shrink.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <div>
                  <img src="https://images.unsplash.com/photo-1546435770-a3e426bf472b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aGVhZHBob25lc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="headphones one the table" class="responsive-img">
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
              </div>
              <div class="feed__code">
                
              </div>
            </div>
          </div>
        </section>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>