.square-img {
    inline-size: 150px;
    aspect-ratio: 1;
    object-fit: cover;
}

.round-img {
    inline-size: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.responsive-img {
    inline-size: 100%;
    block-size: auto;
    object-fit: cover;
}