<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Toast are like a notification. Toast provide user information about what process app is doing and will perform. They appear for short time and dissapear afterwords. You can also call then snackbars.">
    <meta name="author" content="Manish devrani">
    <title>Nova:Toast</title>
    <script src="/javascript/theme.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/design-system.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/comp-page.css">
    <link rel="stylesheet" href="./toast.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>
<body class="surface-one">
  <aside class="sidebar grid" id="sidenav-open">
    <section class="sidebar__content">
      <div class="sidebar__top flex">
        <h2 class="sidebar__title">Nova UI</h2>
      </div>
      <div class="sidebar__bottom">
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Get Started</p></li>
          <li class="sidebar__list-item"><a href="/pages/intro.html">Installation</a></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Components</p></li>
          <li class="sidebar__list-item"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/alert/alert.html"
            >Alert</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/badge/badge.html"
            >Badge</li></a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/button/button.html"
            >Button</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/card/card.html"
            >Card</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/image/image.html"
            >Images</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/input/input.html"
            >Input</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/texts/text.html"
            >Text Utilities</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/lists/list.html"
            >List</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/navigation/navigation.html"
            >Navigation</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/modal/modal.html"
            >Modal</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/ratings/ratings.html"
            >Ratings</a
          ></li>
          <li class="sidebar__list-item links--selected"><a
            href="/pages/components/toast/toast.html"
            >Toast</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/grid/grid.html"
            >Simplified Grid</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/slider/slider.html"
            >Slider</a
          ></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Design System</p></li>
        </ul>
      </div>
    </section>
    <a
      href="#"
      id="sidenav-close"
      class="sidebar__close"
      title="Close Menu"
    ></a>
  </aside>
  <header class="surface-two shadow-one">
    <nav class="nav row">
      <ul class="nav__list row">
        <li class="hamburger nav__hamburger"><a
          href="#sidenav-open"
          id="sidenav-button"
          title="Open Menu"
          aria-label="Open Menu"
        >
        <span class="nav__item nav__item--menu material-icons">menu</span>
        </a></li>
        <li class="nav__item logo">Nova UI</li>
      </ul>
      <ul class="nav__list hide nav__list--box">
        <li class="nav__item nav__item--pages"><a href="/index.html"
          >Home</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="/pages/intro.html"
          >Documentation</a
        ></li>
        <li class="nav__item nav__item--pages"><a
          href="https://github.com/manish591/NovaUI"
          target="_blank"
          >Github</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="#">About</a></li>
      </ul>
      <ul class="nav__links row">
        <li><a href="https://github.com/manish591" target="_blank"
          ><img class="nav__img" src="/assets/github.png" alt="github"
        /></a></li>
        <li><a class="hide" href="https://twitter.com/manishdevrani77" target="_blank"
          ><img class="nav__img" src="/assets/twitter.png" alt="twitter"
        /></a></li>
        <li><a class="hide" href="https://www.linkedin.com/in/manishdevrani77/" target="_blank"
          ><img class="nav__img" src="/assets/linkedin.png" alt="linkedin"
        /></a></li>
        <li><button
          class="theme-toggle nav__img nav__theme nav__item"
          id="theme-toggle"
          data-label="auto"
          aria-label="theme-toggle"
        ></button></li>
      </ul>
    </nav>
  </header>
    <div class="component component--grid">
      <section class="sidenav flow-space">
        <div class="sidenav__get-started sidenav--line-bottom">
          <h3 class="sidenav__title">Getting Started</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/intro.html" class="sidenav__items-link">Installation</a></li>
          </ul>
        </div>
        <div class="sidenav__components sidenav--line-bottom">
          <h3 class="sidenav__title">Components</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
            <li class="sidenav__items"><a href="/pages/components/alert/alert.html"
              >Alert</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/badge/badge.html"
              >Badge</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/button/button.html"
              >Button</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/card/card.html"
              >Card</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/image/image.html"
              >Image</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/input/input.html"
              >Input</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/texts/text.html"
              >Text utilities</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/lists/list.html"
              >List</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/navigation/navigation.html"
              >Navigation</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/modal/modal.html"
              >Modal</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/ratings/ratings.html"
              >Ratings</a
            ></li>
            <li class="sidenav__items links--selected"><a href="/pages/components/toast/toast.html"
              >Toast</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/grid/grid.html"
              >Simplified grid</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/slider/slider.html"
              >Slider</a
            ></li>
          </ul>
        </div>
        <div class="sidenav__design-system sidenav--line-bottom">
          <h3 class="sidenav__title">Design System</h3>
        </div>
      </section>
        <section class="feed">
          <div class="space-bottom flow-space-2">
            <h1 class="feed__title">Toast</h1>
            <p class="feed__text">Toast are like a notification. Toast provide user information about what process app is doing and will perform. They appear for short time and dissapear afterwords. You can also call then snackbars.</p>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Basic Toast</h2>
            <p class="feed__text">
              This is the basic toast. This dosen't appear like that. For showing purposes we have removed it's position property.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <section class="toast toast--demo">
                  <p class="toast__message">Can't send photo. Retry in 5 seconds.</p>
                  <button class="toast__retry-btn">Retry</button>
                  <span class="material-icons toast__clear-btn md-18">clear</span>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Ftoast.html%23L1-L5&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Live Demo</h2>
            <p class="feed__text">
              You can see live demo by clicking the button below. These component require you to include our javascript for the interactivity.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <button class="show-toast">Live Demo</button>

                <section class="toast toast--baseline toast--hide">
                  <p class="toast__message">Can't send photo. Retry in 5 seconds.</p>
                  <button class="toast__retry-btn">Retry</button>
                  <span class="material-icons toast__clear-btn md-18">clear</span>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Ftoast.html%23L8-L14&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Positioned Toast</h2>
            <p class="feed__text">
              You can change where your toast appear in the view using custom classes. Use class <span class="text-mark">.toast--baseline</span> to position toast at bottom center. Similarly you can use classes like <span class="text-mark">.toast--top-left</span> etc.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo toast--flex">
                <button class="show-toast">Bottom Center</button>

                <section class="toast toast--baseline toast--hide">
                  <p class="toast__message">Can't send photo. Retry in 5 seconds.</p>
                  <button class="toast__retry-btn">Retry</button>
                  <span class="material-icons toast__clear-btn md-18">clear</span>
                </section>

                <button class="show-toast">Bottom Left</button>

                <section class="toast toast--leading toast--hide">
                  <p class="toast__message">Can't send photo. Retry in 5 seconds.</p>
                  <button class="toast__retry-btn">Retry</button>
                  <span class="material-icons toast__clear-btn md-18">clear</span>
                </section>

                <button class="show-toast">Bottom Right</button>

                <section class="toast toast--right toast--hide">
                  <p class="toast__message">Can't send photo. Retry in 5 seconds.</p>
                  <button class="toast__retry-btn">Retry</button>
                  <span class="material-icons toast__clear-btn md-18">clear</span>
                </section>

                <button class="show-toast">Top Left</button>

                <section class="toast toast--top-left toast--hide">
                  <p class="toast__message">Can't send photo. Retry in 5 seconds.</p>
                  <button class="toast__retry-btn">Retry</button>
                  <span class="material-icons toast__clear-btn md-18">clear</span>
                </section>

                <button class="show-toast">Top Center</button>

                <section class="toast toast--top-center toast--hide">
                  <p class="toast__message">Can't send photo. Retry in 5 seconds.</p>
                  <button class="toast__retry-btn">Retry</button>
                  <span class="material-icons toast__clear-btn md-18">clear</span>
                </section>

                <button class="show-toast">Top Right</button>

                <section class="toast toast--top-right toast--hide">
                  <p class="toast__message">Can't send photo. Retry in 5 seconds.</p>
                  <button class="toast__retry-btn">Retry</button>
                  <span class="material-icons toast__clear-btn md-18">clear</span>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Ftoast.html%23L17-L63&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Customized Toast</h2>
            <p class="feed__text">
              You can customize toast like success, danger etc. Use classe <span class="text-mark">.toast--success</span> to create a success toast.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo toast--flex">
                <button class="show-toast">Show success Toast</button>

                <section class="toast toast--baseline toast--hide toast--success">
                  <div class="align-toast">
                    <span class="material-icons toast__clear-btn">check</span>
                    <p class="toast__message">This is success Toast.</p>
                  </div>
                </section>

                <button class="show-toast">Show danger Toast</button>

                <section class="toast toast--baseline toast--hide toast--danger">
                  <div class="align-toast">
                    <span class="material-icons toast__clear-btn">error</span>
                    <p class="toast__message">This is danger Toast.</p>
                  </div>
                </section>

                <button class="show-toast">Show warning Toast</button>

                <section class="toast toast--baseline toast--hide toast--warning">
                  <div class="align-toast">
                    <span class="material-icons toast__clear-btn">warning</span>
                    <p class="toast__message">This is warning Toast.</p>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Ftoast.html%23L69-L94&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
        </section>
    </div>

    <script src="./toast.js"></script>
</body>
</html>