.md-24 {
  font-size: 30px !important;
  text-align: center;
}

.badge {
  position: relative;
}

.badge__info {
  position: absolute;
  border-radius: 50%;
  color: var(--light-clr);
  font-size: calc(var(--fs-100) + 0.1rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  font-weight: bold;
}

.badge__info--standard {
  inset-block-start: -3px;
  inset-inline-end: -5px;
  background-color: var(--clr-primary);
  inline-size: 17px;
}

.badge__info--profile {
  inset-block-end: 5%;
  inset-inline-end: 8%;
  background-color: var(--clr-primary);
  inline-size: 11px;
  border: 2px solid var(--surface4);
}

.badge__btn {
  padding-block: 0.5rem;
  padding-inline: 2.5rem;
  border: none;
  background: var(--brand);
  color: var(--light-clr);
  border-radius: 3px;
  opacity: 1;
}

.badge__btn:hover {
  opacity: 0.9;
}

.badge__info--btn-right {
  background-color: var(--clr-warning);
  inset-block-start: -5px;
  inset-inline-end: -10px;
  inline-size: 20px;
  color: var(--dark-clr);
}

.badge__info--btn-left {
  background-color: var(--clr-danger);
  inset-block-start: -5px;
  inset-inline-start: -5px;
  inline-size: 20px;
}

.badge__text {
  font-size: 1.2rem;
}

.badge__info--text-right {
  background-color: var(--clr-primary);
  inset-block-start: -3px;
  inset-inline-end: -9px;
  inline-size: 18px;
}

.badge__info--text-left {
  background-color: var(--clr-primary);
  inset-block-start: -10px;
  inset-inline-start: -7px;
  inline-size: 20px;
  block-size: 20px;
}

.badge__info--online {
  background-color: var(--clr-success);
}

.badge__info--offline {
  background-color: var(--clr-secondary);
}

.badge__info--dnd {
  background-color: var(--clr-danger);
}

.badge__info--primary {
  background-color: var(--clr-primary);
}

.badge__info--danger {
  background-color: var(--clr-danger);
}

.badge__info--warning {
  background-color: var(--clr-warning);
}

.badge__info--secondary {
  background-color: var(--clr-secondary);
}
