<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Badges are used to draw user attention on change. That can be a
    change in status and count. It can be positioned at bottom-right, top-right etc.">
    <meta name="author" content="Manish devrani">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <title>Nova | Badge</title>
    <script src="/javascript/theme.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/design-system.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/comp-page.css" />
    <link rel="stylesheet" href="/pages/components/avatar/avatar.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/pages/components/badge/badge.css">
  </head>
  <body class="surface-one">
    <aside class="sidebar grid" id="sidenav-open">
      <section class="sidebar__content">
        <div class="sidebar__top flex">
          <h2 class="sidebar__title">Nova UI</h2>
        </div>
        <div class="sidebar__bottom">
          <ul class="flex sidebar__list">
            <li><p class="sidebar__list-category">Get Started</p></li>
            <li class="sidebar__list-item"><a href="/pages/intro.html">Installation</a></li>
          </ul>
          <ul class="flex sidebar__list">
            <li><p class="sidebar__list-category">Components</p></li>
            <li class="sidebar__list-item"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/alert/alert.html"
              >Alert</a
            ></li>
            <li class="sidebar__list-item links--selected"><a
              href="/pages/components/badge/badge.html"
              >Badge</li></a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/button/button.html"
              >Button</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/card/card.html"
              >Card</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/image/image.html"
              >Images</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/input/input.html"
              >Input</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/texts/text.html"
              >Text Utilities</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/lists/list.html"
              >List</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/navigation/navigation.html"
              >Navigation</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/modal/modal.html"
              >Modal</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/ratings/ratings.html"
              >Ratings</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/toast/toast.html"
              >Toast</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/grid/grid.html"
              >Simplified Grid</a
            ></li>
            <li class="sidebar__list-item"><a
              href="/pages/components/slider/slider.html"
              >Slider</a
            ></li>
          </ul>
          <ul class="flex sidebar__list">
            <li><p class="sidebar__list-category">Design System</p></li>
          </ul>
        </div>
      </section>
      <a
        href="#"
        id="sidenav-close"
        class="sidebar__close"
        title="Close Menu"
      ></a>
    </aside>
    <header class="surface-two shadow-one">
      <nav class="nav row">
        <ul class="nav__list row">
          <li class="hamburger nav__hamburger"><a
            href="#sidenav-open"
            id="sidenav-button"
            title="Open Menu"
            aria-label="Open Menu"
          >
          <span class="nav__item nav__item--menu material-icons">menu</span>
          </a></li>
          <li class="nav__item logo">Nova UI</li>
        </ul>
        <ul class="nav__list hide nav__list--box">
          <li class="nav__item nav__item--pages"><a href="/index.html"
            >Home</a
          ></li>
          <li class="nav__item nav__item--pages"><a href="/pages/intro.html"
            >Documentation</a
          ></li>
          <li class="nav__item nav__item--pages"><a
            href="https://github.com/manish591/NovaUI"
            target="_blank"
            >Github</a
          ></li>
          <li class="nav__item nav__item--pages"><a href="#">About</a></li>
        </ul>
        <ul class="nav__links row">
          <li><a href="https://github.com/manish591" target="_blank"
            ><img class="nav__img" src="/assets/github.png" alt="github"
          /></a></li>
          <li><a class="hide" href="https://twitter.com/manishdevrani77" target="_blank"
            ><img class="nav__img" src="/assets/twitter.png" alt="twitter"
          /></a></li>
          <li><a class="hide" href="https://www.linkedin.com/in/manishdevrani77/" target="_blank"
            ><img class="nav__img" src="/assets/linkedin.png" alt="linkedin"
          /></a></li>
          <li><button
            class="theme-toggle nav__img nav__theme nav__item"
            id="theme-toggle"
            data-label="auto"
            aria-label="theme-toggle"
          ></button></li>
        </ul>
      </nav>
    </header>
    <div class="component component--grid">
      <section class="sidenav flow-space">
        <div class="sidenav__get-started sidenav--line-bottom">
          <h3 class="sidenav__title">Getting Started</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/intro.html" class="sidenav__items-link">Installation</a></li>
          </ul>
        </div>
        <div class="sidenav__components sidenav--line-bottom">
          <h3 class="sidenav__title">Components</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
            <li class="sidenav__items"><a href="/pages/components/alert/alert.html"
              >Alert</a
            ></li>
            <li class="sidenav__items links--selected"><a href="/pages/components/badge/badge.html"
              >Badge</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/button/button.html"
              >Button</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/card/card.html"
              >Card</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/image/image.html"
              >Image</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/input/input.html"
              >Input</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/texts/text.html"
              >Text utilities</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/lists/list.html"
              >List</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/navigation/navigation.html"
              >Navigation</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/modal/modal.html"
              >Modal</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/ratings/ratings.html"
              >Ratings</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/toast/toast.html"
              >Toast</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/grid/grid.html"
              >Simplified grid</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/slider/slider.html"
              >Slider</a
            ></li>
          </ul>
        </div>
        <div class="sidenav__design-system sidenav--line-bottom">
          <h3 class="sidenav__title">Design System</h3>
        </div>
      </section>
      <section class="feed">
        <div class="space-bottom flow-space-2">
          <h1 class="feed__title">Badges</h1>
          <p class="feed__text">
            Badges are used to draw user attention on change. That can be a
            change in status and count. It can be positioned at bottom-right, top-right etc.
          </p>
        </div>
        <div class="flow-space space-bottom">
          <h2 class="feed__subtitle">Icon Badges</h2>
          <p class="feed__text">
            Icon badges are very common. Use classes <span class="text-mark">.badge</span> to create such badges. Use varients classes <span class="text-mark">.badge--primary</span> on badge <span class="text-mark">p tag</span> to give them diffrent colors.
          </p>
          <div class="feed__component-display">
            <section class="feed__demo feed__demo--flex">
              <section class="badge">
                <span class="material-icons md-24">favorite_border</span>
                <p class="badge__info badge__info--standard badge__info--primary">2</p>
              </section>
              <section class="badge">
                <span class="material-icons md-24">favorite_border</span>
                <p class="badge__info badge__info--standard badge__info--danger">2</p>
              </section>
            </section>
            <div class="feed__source-display">
              <button class="feed__code-source">Source</button>
              <span class="material-icons icons-small">expand_more</span>
            </div>
            <div class="feed__code">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fbadge.html%23L1-L8&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
            </div>
          </div>
        </div>
        <div class="flow-space space-bottom">
          <h2 class="feed__subtitle">Button Badges</h2>
          <p class="feed__text">
            Button badges can be created by enclosing button in our badge container. Then use our utility classes for badges shown below.
          </p>
          <div class="feed__component-display">
            <section class="feed__demo feed__demo--flex">
              <section class="badge">
                <button class="badge__btn">Hide</button>
                <p class="badge__info badge__info--btn-right">99+</p>
              </section>
              <section class="badge">
                  <button class="badge__btn">Show</button>
                  <p class="badge__info badge__info--btn-left">2</p>
              </section>
            </section>
            <div class="feed__source-display">
              <button class="feed__code-source">Source</button>
              <span class="material-icons icons-small">expand_more</span>
            </div>
            <div class="feed__code">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fbadge.html%23L10-L17&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
            </div>
          </div>
        </div>
        <div class="flow-space space-bottom">
          <h2 class="feed__subtitle">Badges with texts</h2>
          <p class="feed__text">
            Text badges are used by enclosing a text inside our badge container. Then use utility class <span class="text-mark">.badge__info--text-right</span> to position it accordingly.
          </p>
          <div class="feed__component-display">
            <section class="feed__demo feed__demo--flex">
              <section class="badge">
                <p class="badge__text">This is the text</p>
                <p class="badge__info badge__info--text-right">2</p>
              </section>
              <section class="badge">
                  <p class="badge__text">This is the text</p>
                  <p class="badge__info badge__info--text-left">2</p>
              </section>
            </section>
            <div class="feed__source-display">
              <button class="feed__code-source">Source</button>
              <span class="material-icons icons-small">expand_more</span>
            </div>
            <div class="feed__code">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fbadge.html%23L20-L27&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
            </div>
          </div>
        </div>
        <div class="flow-space space-bottom">
          <h2 class="feed__subtitle">Profile Badges</h2>
          <p class="feed__text">
            Profile badges are very common. They used to represent user current status. For online status use class <span class="text-mark">.badge__info--online</span>, for offline status use class <span class="text-mark">.badge__info--offline</span> etc.
          </p>
          <div class="feed__component-display">
            <section class="feed__demo feed__demo--flex">
              <div class="badge">
                <img
                src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWluaW9uc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                alt="minion-badge"
                class="avatar"
               />
               <p class="badge__info badge__info--profile badge__info--online"></p>
              </div>
              <div class="badge">
                <img
                src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWluaW9uc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                alt="minion-badge"
                class="avatar"
               />
               <p class="badge__info badge__info--profile badge__info--offline"></p>
              </div>
              <div class="badge">
                <img
                src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWluaW9uc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                alt="minion-badge"
                class="avatar"
               />
               <p class="badge__info badge__info--profile badge__info--dnd"></p>
              </div>
            </section>
            <div class="feed__source-display">
              <button class="feed__code-source">Source</button>
              <span class="material-icons icons-small">expand_more</span>
            </div>
            <div class="feed__code">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fbadge.html%23L30-L53&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
