<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An alert displays a short, valuable feedback to the user's action without interrupting the user's tasks.">
    <meta name="author" content="Manish devrani">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <script src="/javascript/theme.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/design-system.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/comp-page.css">
    <link rel="stylesheet" href="/pages/components/alert/alert.css">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Nova | Alert</title>
</head>
<body class="surface-one">
  <aside class="sidebar grid" id="sidenav-open">
    <section class="sidebar__content">
      <div class="sidebar__top flex">
        <h2 class="sidebar__title">Nova UI</h2>
      </div>
      <div class="sidebar__bottom">
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Get Started</p></li>
          <li class="sidebar__list-item"><a href="/pages/intro.html">Installation</a></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Components</p></li>
          <li class="sidebar__list-item"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
          <li class="sidebar__list-item links--selected"><a
            href="/pages/components/alert/alert.html"
            >Alert</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/badge/badge.html"
            >Badge</li></a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/button/button.html"
            >Button</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/card/card.html"
            >Card</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/image/image.html"
            >Images</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/input/input.html"
            >Input</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/texts/text.html"
            >Text Utilities</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/lists/list.html"
            >List</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/navigation/navigation.html"
            >Navigation</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/modal/modal.html"
            >Modal</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/ratings/ratings.html"
            >Ratings</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/toast/toast.html"
            >Toast</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/grid/grid.html"
            >Simplified Grid</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/slider/slider.html"
            >Slider</a
          ></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Design System</p></li>
        </ul>
      </div>
    </section>
    <a
      href="#"
      id="sidenav-close"
      class="sidebar__close"
      title="Close Menu"
    ></a>
  </aside>
  <header class="surface-two shadow-one">
    <nav class="nav row">
      <ul class="nav__list row">
        <li class="hamburger nav__hamburger"><a
          href="#sidenav-open"
          id="sidenav-button"
          title="Open Menu"
          aria-label="Open Menu"
        >
        <span class="nav__item nav__item--menu material-icons">menu</span>
        </a></li>
        <li class="nav__item logo">Nova UI</li>
      </ul>
      <ul class="nav__list hide nav__list--box">
        <li class="nav__item nav__item--pages"><a href="/index.html"
          >Home</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="/pages/intro.html"
          >Documentation</a
        ></li>
        <li class="nav__item nav__item--pages"><a
          href="https://github.com/manish591/NovaUI"
          target="_blank"
          >Github</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="#">About</a></li>
      </ul>
      <ul class="nav__links row">
        <li><a href="https://github.com/manish591" target="_blank"
          ><img class="nav__img" src="/assets/github.png" alt="github"
        /></a></li>
        <li><a class="hide" href="https://twitter.com/manishdevrani77" target="_blank"
          ><img class="nav__img" src="/assets/twitter.png" alt="twitter"
        /></a></li>
        <li><a class="hide" href="https://www.linkedin.com/in/manishdevrani77/" target="_blank"
          ><img class="nav__img" src="/assets/linkedin.png" alt="linkedin"
        /></a></li>
        <li><button
          class="theme-toggle nav__img nav__theme nav__item"
          id="theme-toggle"
          data-label="auto"
          aria-label="theme-toggle"
        ></button></li>
      </ul>
    </nav>
  </header>
    <div class="component component--grid">
      <section class="sidenav flow-space">
        <div class="sidenav__get-started sidenav--line-bottom">
          <h3 class="sidenav__title">Getting Started</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/intro.html" class="sidenav__items-link">Installation</a></li>
          </ul>
        </div>
        <div class="sidenav__components sidenav--line-bottom">
          <h3 class="sidenav__title">Components</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
            <li class="sidenav__items links--selected"><a href="/pages/components/alert/alert.html"
              >Alert</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/badge/badge.html"
              >Badge</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/button/button.html"
              >Button</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/card/card.html"
              >Card</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/image/image.html"
              >Image</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/input/input.html"
              >Input</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/texts/text.html"
              >Text utilities</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/lists/list.html"
              >List</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/navigation/navigation.html"
              >Navigation</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/modal/modal.html"
              >Modal</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/ratings/ratings.html"
              >Ratings</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/toast/toast.html"
              >Toast</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/grid/grid.html"
              >Simplified grid</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/slider/slider.html"
              >Slider</a
            ></li>
          </ul>
        </div>
        <div class="sidenav__design-system sidenav--line-bottom">
          <h3 class="sidenav__title">Design System</h3>
        </div>
      </section>
        <section class="feed">
          <div class="space-bottom flow-space-2">
            <h1 class="feed__title">Alert</h1>
            <p class="feed__text">An alert displays a short, valuable feedback to the user's action without interrupting the user's tasks.</p>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Simple Alert</h2>
            <p class="feed__text">
              Simple alerts can be created using class name <span class="text-mark">.alert</span> along with alert varient name like <span class="text-mark">.alert--primary</span>, <span class="text-mark">.alert--danger</span> etc.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--columns">
                <div class="alert alert--primary">
                  <p>This Is A Primary Alert - Check It Now!</p>
                </div>
                <div class="alert alert--secondary">
                  <p>This Is A Primary Alert - Check It Now!</p>
                </div>
                <div class="alert alert--success">
                  <p>This Is A Primary Alert - Check It Now!</p>
                </div>
                <div class="alert alert--danger">
                  <p>This Is A Primary Alert - Check It Now!</p>
                </div>
                <div class="alert alert--warning">
                  <p>This Is A Primary Alert - Check It Now!</p>
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Falert.html%23L1-L15&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Fancy Alert</h2>
            <p class="feed__text">
              These alert messages look diffrent than simple alerts. To create them use class <span class="text-mark">.alert__fancy</span> along with varients name.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--columns">
                <div class="alert alert__fancy alert__fancy--primary">
                  <p>This Is A Primary Alert - Check It Now!</p>
                </div>
                <div class="alert alert__fancy alert__fancy--secondary">
                  <p>This Is A Primary Alert - Check It Now!</p>
                </div>
                <div class="alert alert__fancy alert__fancy--success">
                  <p>This Is A Primary Alert - Check It Now!</p>
                </div>
                <div class="alert alert__fancy alert__fancy--danger">
                  <p>This Is A Primary Alert - Check It Now!</p>
                </div>
                <div class="alert alert__fancy alert__fancy--warning">
                  <p>This Is A Primary Alert - Check It Now!</p>
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Falert.html%23L18-L32&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Alerts With Icon</h2>
            <p class="feed__text">
              You can also use icons in alert messages. You have to use our alert utility <span class="text-mark">.alert--flex</span> while using them.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--columns">
                <div class="alert alert__fancy alert__fancy--primary alert--flex">
                  <span class="material-icons alert__icon alert__icon--primary">info</span>
                  <div>
                    <strong>This Is Primary Alert!</strong>
                    <p class="alert__gap--top">This is super informative alert!</p>
                  </div>
                </div>
                <div class="alert alert__fancy alert__fancy--secondary alert--flex">
                  <span class="material-icons alert__icon alert__icon--secondary">settings</span>
                  <div>
                    <strong>This Is Secondary Alert!</strong>
                    <p class="alert__gap--top">Your Settings Have Been Updated!</p>
                  </div>
                </div>
                <div class="alert alert__fancy alert__fancy--success alert--flex">
                  <span class="material-icons alert__icon alert__icon--success">check</span>
                  <div>
                    <strong>This Is Success Alert!</strong>
                    <p class="alert__gap--top">This Request Has Been Accepted!</p>
                  </div>
                </div>
                <div class="alert alert__fancy alert__fancy--warning alert--flex">
                  <span class="material-icons alert__icon alert__icon--warning">warning</span>
                  <div>
                    <strong>This Is Warning Alert!</strong>
                    <p class="alert__gap--top">Please Login To Continue!</p>
                  </div>
                </div>
                <div class="alert alert__fancy alert__fancy--danger alert--flex">
                  <span class="material-icons alert__icon alert__icon--danger">error</span>
                  <div>
                    <strong>This Is Danger Alert!</strong>
                    <p class="alert__gap--top">Your Account Has Been Deleted!</p>
                  </div>
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Falert.html%23L34-L68&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Dismissble Alert</h2>
            <p class="feed__text">
              Dismissable alert requires you to add a additional class <span class="text-mark">.alert-dismissable</span>. User can remove the these alert anytime. Include our javscript file to make it work.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--columns">
                <div class="alert alert__fancy alert__fancy--primary alert--dismissable flex">
                  <p>This Is A Primary Alert - Check It Now!</p>
                  <span class="material-icons alert__icon alert__dismissable-icon">clear</span>
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Falert.html%23L70-L73&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
        </section>
    </div>
    <script src="./alert.js"></script>
</body>
</html>