.alert {
  inline-size: 100%;
  padding-block: 1.3rem;
  padding-inline: 0.8rem;
  border-radius: 6px;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
  color: var(--clr-text);
}

.alert--primary {
  background-color: var(--clr-primary);
  color: var(--light-clr);
}

.alert--secondary {
  background-color: var(--clr-secondary);
}

.alert--danger {
  background-color: var(--clr-danger);
}

.alert--success {
  background-color: var(--clr-success);
  color: var(--dark-clr);
}

.alert--warning {
  background-color: var(--clr-warning);
  color: var(--dark-clr);
}

.alert__fancy {
  border: 1px solid var(--surface4);
  color: var(--text1);
  background-color: var(--surface4);
}

.alert__fancy--primary {
  border-block-start: 3px solid var(--clr-primary);
}

.alert__fancy--secondary {
  border-block-start: 3px solid var(--clr-secondary);
}

.alert__fancy--success {
  border-block-start: 3px solid var(--clr-success);
}

.alert__fancy--warning {
  border-block-start: 3px solid var(--clr-warning);
}

.alert__fancy--danger {
  border-block-start: 3px solid var(--clr-danger);
}

.alert--flex {
  display: flex;
  align-items: center;
  gap: var(--spacing-10);
}

.alert__gap--top {
  margin-block-start: 5px;
}

.alert--dismissable {
  justify-content: space-between;
}

.alert__dismissable-icon {
  opacity: 0.6;
  cursor: pointer;
}

.alert__icon--primary {
  color: var(--clr-primary);
}

.alert__icon--secondary {
  color: var(--clr-secondary);
}

.alert__icon--success {
  color: var(--dark-success);
}

.alert__icon--danger {
  color: var(--dark-danger);
}

.alert__icon--warning {
  color: var(--dark-warning);
}
