<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova-Documentation</title>
    <script src="/javascript/theme.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/design-system.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/comp-page.css">
    <link rel="stylesheet" href="./ratings.css">
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
<body class="surface-one">
  <aside class="sidebar grid" id="sidenav-open">
    <section class="sidebar__content">
      <div class="sidebar__top flex">
        <h2 class="sidebar__title">Nova UI</h2>
      </div>
      <div class="sidebar__bottom">
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Get Started</p></li>
          <li class="sidebar__list-item"><a href="#">Installation</a></li>
          <li><a href="#" class="sidebar__list-item">Learn</a></li>
          <li><a href="#" class="sidebar__list-item">Usage</a></li>
          <li><a href="#" class="sidebar__list-item">Examples</a></li>
          <li><a href="#" class="sidebar__list-item">Conclusion</a></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Components</p></li>
          <li class="sidebar__list-item"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/alert/alert.html"
            >Alert</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/badge/badge.html"
            >Badge</li></a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/button/button.html"
            >Button</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/card/card.html"
            >Card</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/image/image.html"
            >Images</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/input/input.html"
            >Input</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/texts/text.html"
            >Text Utilities</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/lists/list.html"
            >List</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/navigation/navigation.html"
            >Navigation</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/modal/modal.html"
            >Modal</a
          ></li>
          <li class="sidebar__list-item links--selected"><a
            href="/pages/components/ratings/ratings.html"
            >Ratings</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/toast/toast.html"
            >Toast</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/grid/grid.html"
            >Simplified Grid</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/slider/slider.html"
            >Slider</a
          ></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Design System</p></li>
        </ul>
      </div>
    </section>
    <a
      href="#"
      id="sidenav-close"
      class="sidebar__close"
      title="Close Menu"
    ></a>
  </aside>
  <header class="surface-two shadow-one">
    <nav class="nav row">
      <ul class="nav__list row">
        <li class="hamburger nav__hamburger"><a
          href="#sidenav-open"
          id="sidenav-button"
          title="Open Menu"
          aria-label="Open Menu"
        >
          <img
            src="/assets/menu_black_24dp (1).svg"
            alt=""
            class="nav__item"
          />
        </a></li>
        <li class="nav__item logo">Nova <span>UI</span></li>
      </ul>
      <ul class="nav__list hide nav__list--box">
        <li class="nav__item nav__item--pages"><a href="/index.html"
          >Home</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="/pages/intro.html"
          >Documentation</a
        ></li>
        <li class="nav__item nav__item--pages"><a
          href="https://github.com/manish591/NovaUI"
          >Github</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="#">About</a></li>
      </ul>
      <ul class="nav__links row">
        <li><a href="https://github.com/manish591"
          ><img class="nav__img" src="/assets/github.png" alt=""
        /></a></li>
        <li><a class="hide" href="https://twitter.com/manishdevrani77"
          ><img class="nav__img" src="/assets/twitter.png" alt=""
        /></a></li>
        <li><a class="hide" href="https://www.linkedin.com/in/manishdevrani77/"
          ><img class="nav__img" src="/assets/linkedin.png" alt=""
        /></a></li>
        <li><button
          class="theme-toggle nav__img nav__theme nav__item"
          id="theme-toggle"
          data-label="auto"
        ></button></li>
      </ul>
    </nav>
  </header>
    <div class="component component--grid">
      <section class="sidenav flow-space">
        <div class="sidenav__get-started sidenav--line-bottom">
          <h3 class="sidenav__title">Getting Started</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/intro.html" class="sidenav__items-link">Installation</a></li>
            <li class="sidenav__items"><a href="#">Learn</a></li>
            <li class="sidenav__items"><a href="#">Usage</a></li>
            <li class="sidenav__items"><a href="#">Example</a></li>
            <li class="sidenav__items"><a href="#">Conclusion</a></li>
          </ul>
        </div>
        <div class="sidenav__components sidenav--line-bottom">
          <h3 class="sidenav__title">Components</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
            <li class="sidenav__items"><a href="/pages/components/alert/alert.html"
              >Alert</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/badge/badge.html"
              >Badge</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/button/button.html"
              >Button</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/card/card.html"
              >Card</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/image/image.html"
              >Image</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/input/input.html"
              >Input</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/texts/text.html"
              >Text utilities</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/lists/list.html"
              >List</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/navigation/navigation.html"
              >Navigation</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/modal/modal.html"
              >Modal</a
            ></li>
            <li class="sidenav__items links--selected"><a href="/pages/components/ratings/ratings.html"
              >Ratings</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/toast/toast.html"
              >Toast</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/grid/grid.html"
              >Simplified grid</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/slider/slider.html"
              >Slider</a
            ></li>
          </ul>
        </div>
        <div class="sidenav__design-system sidenav--line-bottom">
          <h3 class="sidenav__title">Design System</h3>
        </div>
      </section>
        <section class="feed">
          <div class="space-bottom flow-space-2">
            <h1 class="feed__title">Ratings</h1>
            <p class="feed__text">Ratings allow us to see user experience with the product and service available on their plateform. We can also give our opinions using rartings.</p>
          </div>
          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Basic Rating</h3>
            <p class="feed__text">
              This is the basic rating.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <div class="rating flex star-1">
                  <section href="#" class="rating__item star-1">
                    <span class="material-icons rating__star">star</span>
                  </section>
                  <section href="#" class="rating__item star-2">
                    <span class="material-icons rating__star">star</span>
                  </section>
                  <section href="#" class="rating__item star-3">
                    <span class="material-icons rating__star">star</span>
                  </section>
                  <section href="#" class="rating__item star-4">
                    <span class="material-icons rating__star">star</span>
                  </section>
                  <section href="#" class="rating__item star-5">
                    <span class="material-icons rating__star">star</span>
                  </section>
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Dynamic Rating</h3>
            <p class="feed__text">
              If you want more fancy looking ratings then you can use them.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <div class="nova-rating">
                  <input type="radio" id="nova-five" name="simple-rating" value="5" class="sr-only" >
                  <label for="nova-five">
                    <svg width="25" height="25" viewBox="-10 -10 165 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M116.805 149.588C118.072 150.433 119.534 150.855 120.989 150.855C122.55 150.855 124.11 150.372 125.437 149.407C127.985 147.545 129.101 144.289 128.234 141.251L114.378 92.7403L148.934 58.1838C151.09 56.0354 151.731 52.7863 150.57 49.9669C149.409 47.155 146.65 45.3156 143.605 45.3156H103.04L82.505 4.25334C79.9495 -0.850234 71.5742 -0.850234 69.0186 4.25334L48.4837 45.3156H7.91146C4.86591 45.3156 2.10681 47.155 0.945881 49.9669C-0.215049 52.7863 0.425724 56.0354 2.58174 58.1838L37.1383 92.7403L23.2825 141.251C22.4156 144.289 23.5313 147.545 26.0793 149.407C28.6424 151.277 32.0875 151.337 34.7109 149.588L75.758 122.223L116.805 149.588Z" />
                    </svg>
                  </label>
                  <input type="radio" id="nova-four" name="simple-rating" value="4" class="sr-only">
                  <label for="nova-four">
                    <svg width="25" height="25" viewBox="-10 -10 165 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M116.805 149.588C118.072 150.433 119.534 150.855 120.989 150.855C122.55 150.855 124.11 150.372 125.437 149.407C127.985 147.545 129.101 144.289 128.234 141.251L114.378 92.7403L148.934 58.1838C151.09 56.0354 151.731 52.7863 150.57 49.9669C149.409 47.155 146.65 45.3156 143.605 45.3156H103.04L82.505 4.25334C79.9495 -0.850234 71.5742 -0.850234 69.0186 4.25334L48.4837 45.3156H7.91146C4.86591 45.3156 2.10681 47.155 0.945881 49.9669C-0.215049 52.7863 0.425724 56.0354 2.58174 58.1838L37.1383 92.7403L23.2825 141.251C22.4156 144.289 23.5313 147.545 26.0793 149.407C28.6424 151.277 32.0875 151.337 34.7109 149.588L75.758 122.223L116.805 149.588Z" />
                    </svg>
                  </label>
                  <input type="radio" id="nova-three" name="simple-rating" value="3" class="sr-only">
                  <label for="nova-three">
                    <svg width="25" height="25" viewBox="-10 -10 165 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M116.805 149.588C118.072 150.433 119.534 150.855 120.989 150.855C122.55 150.855 124.11 150.372 125.437 149.407C127.985 147.545 129.101 144.289 128.234 141.251L114.378 92.7403L148.934 58.1838C151.09 56.0354 151.731 52.7863 150.57 49.9669C149.409 47.155 146.65 45.3156 143.605 45.3156H103.04L82.505 4.25334C79.9495 -0.850234 71.5742 -0.850234 69.0186 4.25334L48.4837 45.3156H7.91146C4.86591 45.3156 2.10681 47.155 0.945881 49.9669C-0.215049 52.7863 0.425724 56.0354 2.58174 58.1838L37.1383 92.7403L23.2825 141.251C22.4156 144.289 23.5313 147.545 26.0793 149.407C28.6424 151.277 32.0875 151.337 34.7109 149.588L75.758 122.223L116.805 149.588Z" />
                    </svg>
                  </label>
                  <input type="radio" id="nova-two" name="simple-rating" value="2" class="sr-only">
                  <label for="nova-two">
                    <svg width="25" height="25" viewBox="-10 -10 165 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M116.805 149.588C118.072 150.433 119.534 150.855 120.989 150.855C122.55 150.855 124.11 150.372 125.437 149.407C127.985 147.545 129.101 144.289 128.234 141.251L114.378 92.7403L148.934 58.1838C151.09 56.0354 151.731 52.7863 150.57 49.9669C149.409 47.155 146.65 45.3156 143.605 45.3156H103.04L82.505 4.25334C79.9495 -0.850234 71.5742 -0.850234 69.0186 4.25334L48.4837 45.3156H7.91146C4.86591 45.3156 2.10681 47.155 0.945881 49.9669C-0.215049 52.7863 0.425724 56.0354 2.58174 58.1838L37.1383 92.7403L23.2825 141.251C22.4156 144.289 23.5313 147.545 26.0793 149.407C28.6424 151.277 32.0875 151.337 34.7109 149.588L75.758 122.223L116.805 149.588Z" />
                    </svg>
                  </label>
                  <input type="radio" id="nova-one" name="simple-rating" value="1" class="sr-only">
                  <label for="nova-one">
                    <svg width="25" height="25" viewBox="-10 -10 165 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M116.805 149.588C118.072 150.433 119.534 150.855 120.989 150.855C122.55 150.855 124.11 150.372 125.437 149.407C127.985 147.545 129.101 144.289 128.234 141.251L114.378 92.7403L148.934 58.1838C151.09 56.0354 151.731 52.7863 150.57 49.9669C149.409 47.155 146.65 45.3156 143.605 45.3156H103.04L82.505 4.25334C79.9495 -0.850234 71.5742 -0.850234 69.0186 4.25334L48.4837 45.3156H7.91146C4.86591 45.3156 2.10681 47.155 0.945881 49.9669C-0.215049 52.7863 0.425724 56.0354 2.58174 58.1838L37.1383 92.7403L23.2825 141.251C22.4156 144.289 23.5313 147.545 26.0793 149.407C28.6424 151.277 32.0875 151.337 34.7109 149.588L75.758 122.223L116.805 149.588Z" />
                    </svg>
                  </label>
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                
              </div>
            </div>
          </div>
        </section>
    </div>

    <script src="./rating.js"></script>
</body>
</html>