<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inputs are important part of website interaction. Inputs collects data from the user and then use that data accordingly.">
    <meta name="author" content="Manish devrani">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <title>Nova | Input</title>
    <script src="/javascript/theme.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/design-system.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/comp-page.css">
    <link rel="stylesheet" href="./input.css">
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
    />
</head>
<body class="surface-one">
  <aside class="sidebar grid" id="sidenav-open">
    <section class="sidebar__content">
      <div class="sidebar__top flex">
        <h2 class="sidebar__title">Nova UI</h2>
      </div>
      <div class="sidebar__bottom">
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Get Started</p></li>
          <li class="sidebar__list-item"><a href="/pages/intro.html">Installation</a></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Components</p></li>
          <li class="sidebar__list-item"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/alert/alert.html"
            >Alert</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/badge/badge.html"
            >Badge</li></a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/button/button.html"
            >Button</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/card/card.html"
            >Card</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/image/image.html"
            >Images</a
          ></li>
          <li class="sidebar__list-item links--selected"><a
            href="/pages/components/input/input.html"
            >Input</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/texts/text.html"
            >Text Utilities</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/lists/list.html"
            >List</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/navigation/navigation.html"
            >Navigation</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/modal/modal.html"
            >Modal</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/ratings/ratings.html"
            >Ratings</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/toast/toast.html"
            >Toast</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/grid/grid.html"
            >Simplified Grid</a
          ></li>
        </ul>
      </div>
    </section>
    <a
      href="#"
      id="sidenav-close"
      class="sidebar__close"
      title="Close Menu"
    ></a>
  </aside>
  <header class="surface-two shadow-one">
    <nav class="nav row">
      <ul class="nav__list row">
        <li class="hamburger nav__hamburger"><a
          href="#sidenav-open"
          id="sidenav-button"
          title="Open Menu"
          aria-label="Open Menu"
        >
        <span class="nav__item nav__item--menu material-icons">menu</span>
        </a></li>
        <li class="nav__item logo">Nova UI</li>
      </ul>
      <ul class="nav__list hide nav__list--box">
        <li class="nav__item nav__item--pages"><a href="/index.html"
          >Home</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="/pages/intro.html"
          >Documentation</a
        ></li>
        <li class="nav__item nav__item--pages"><a
          href="https://github.com/manish591/NovaUI"
          target="_blank"
          >Github</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="#">About</a></li>
      </ul>
      <ul class="nav__links row">
        <li><a href="https://github.com/manish591" target="_blank"
          ><img class="nav__img" src="/assets/github.png" alt="github"
        /></a></li>
        <li><a class="hide" href="https://twitter.com/manishdevrani77" target="_blank"
          ><img class="nav__img" src="/assets/twitter.png" alt="twitter"
        /></a></li>
        <li><a class="hide" href="https://www.linkedin.com/in/manishdevrani77/" target="_blank"
          ><img class="nav__img" src="/assets/linkedin.png" alt="linkedin"
        /></a></li>
        <li><button
          class="theme-toggle nav__img nav__theme nav__item"
          id="theme-toggle"
          data-label="auto"
          aria-label="theme-toggle"
        ></button></li>
      </ul>
    </nav>
  </header>
    <div class="component component--grid">
      <section class="sidenav flow-space">
        <div class="sidenav__get-started sidenav--line-bottom">
          <h3 class="sidenav__title">Getting Started</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/intro.html" class="sidenav__items-link">Installation</a></li>
          </ul>
        </div>
        <div class="sidenav__components sidenav--line-bottom">
          <h3 class="sidenav__title">Components</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
            <li class="sidenav__items"><a href="/pages/components/alert/alert.html"
              >Alert</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/badge/badge.html"
              >Badge</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/button/button.html"
              >Button</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/card/card.html"
              >Card</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/image/image.html"
              >Image</a
            ></li>
            <li class="sidenav__items links--selected"><a href="/pages/components/input/input.html"
              >Input</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/texts/text.html"
              >Text utilities</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/lists/list.html"
              >List</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/navigation/navigation.html"
              >Navigation</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/modal/modal.html"
              >Modal</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/ratings/ratings.html"
              >Ratings</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/toast/toast.html"
              >Toast</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/grid/grid.html"
              >Simplified grid</a
            ></li>
          </ul>
        </div>
      </section>
        <section class="feed">
          <div class="flow-space-2 space-bottom">
            <h1 class="feed__title">Input</h1>
            <p class="feed__text">Inputs are important part of website interaction. Inputs collects data from the user and then use that data accordingly.</p>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Basic Input Field</h2>
            <p class="feed__text">
              This is the basic input field you can create using Nova.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <label for="basic-input" class="sr-only">Basic Input</label>
                <input type="text" class="form__input" id="basic-input">
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Finput.html%23L1&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Input Field With Placeholder</h2>
            <p class="feed__text">
              Placeholder describes what type of data this input field is expecting from the user. For creating this add a <span class="text-mark">Placeholder Attribute</span> in your input tag.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <label for="basic-input-two" class="sr-only">Basic Input with Placeholder</label>
                <input type="text" class="form__input" id="basic-input-two" placeholder="Type Something">
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Finput.html%23L3&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Input Field With Labels</h2>
            <p class="feed__text">
              Label inputs are good for giving user info about the input field.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <div class="form__group flex">
                  <label for="form-label-one" class="form__label">What's in your mind?</label>
                  <input type="text" id="form-label-one" class="form__input" placeholder="Type Something">
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Finput.html%23L6-L9&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Input Field Varients</h2>
            <p class="feed__text">
              Nova provides you with three basic input Varients, outlined, filled and standard. Use a <span class="text-mark">.form__group</span> along with varient name like <span class="text-mark">.form__floating</span>.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--flex">
                <div class="form__group form__group--floating">
                  <input type="text" class="form__input form__input--outlined" id="form-label-two" required>
                  <label for="form-label-two" class="form__label">Outlined</label>
                </div>
                <div class="form__group form__group--floating">
                  <input type="text" class="form__input form__input--filled" id="form-label-three" required>
                  <label for="form-label-three" class="form__label">Filled</label>
                </div>
                <div class="form__group form__group--floating">
                  <input type="text" class="form__input form__input--standard" id="form-label-four" required>
                  <label for="form-label-four" class="form__label form__label--standard">Standard</label>
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Finput.html%23L11-L22&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Input Form Types and Attributes</h2>
            <p class="feed__text">
              There are multiple attributes and forms types you can use. Set the respective type attribute.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo gutter-temp">
                <input type="text" class="form__input" placeholder="Required*" required>
                <input type="text" class="form__input" placeholder="Disabled" disabled>
                <input type="password" class="form__input" placeholder="Password" required>
                <input type="Number" class="form__input" placeholder="Number">
                <input type="date" class="form__input">
                <input type="email" class="form__input" placeholder="Email">
                <div class="form__group">
                  <input type="text" class="form__input" placeholder="Type Something">
                  <p class="input-helper">Some helper text</p>
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Finput.html%23L25-L34&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Validation</h2>
            <p class="feed__text">
              These will show error styles.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--columns">
                <div class="form__group form__group--floating has-error">
                  <input type="text" class="form__input form__input--outlined" id="form-label-five" required>
                  <label for="form-label-five" class="form__label">Outlined</label>
                  <p class="form__helper-text">Incorrect Entry</p>
                </div>
                <div class="form__group has-error">
                  <label for="form-label-six" class="form__label">Password</label>
                  <input type="password" id="form-label-six" class="form__input">
                  <p class="form__helper-text">Your Password is Incorrect</p>
                </div>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Finput.html%23L37-L46&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
        </section>
    </div>
</body>
</html>