<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cards represent a surface that displays content of a single topic. You can use Nova's predefined classes to create responsive and diffrent varients cards.">
    <meta name="author" content="Manish devrani">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <title>Nova | Card</title>
    <script src="/javascript/theme.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/design-system.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/comp-page.css">
    <link rel="stylesheet" href="/pages/components/card/card.css">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
</head>
<body class="surface-one">
  <aside class="sidebar grid" id="sidenav-open">
    <section class="sidebar__content">
      <div class="sidebar__top flex">
        <h2 class="sidebar__title">Nova UI</h2>
      </div>
      <div class="sidebar__bottom">
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Get Started</p></li>
          <li class="sidebar__list-item"><a href="/pages/intro.html">Installation</a></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Components</p></li>
          <li class="sidebar__list-item"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/alert/alert.html"
            >Alert</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/badge/badge.html"
            >Badge</li></a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/button/button.html"
            >Button</a
          ></li>
          <li class="sidebar__list-item links--selected"><a
            href="/pages/components/card/card.html"
            >Card</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/image/image.html"
            >Images</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/input/input.html"
            >Input</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/texts/text.html"
            >Text Utilities</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/lists/list.html"
            >List</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/navigation/navigation.html"
            >Navigation</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/modal/modal.html"
            >Modal</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/ratings/ratings.html"
            >Ratings</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/toast/toast.html"
            >Toast</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/grid/grid.html"
            >Simplified Grid</a
          ></li>
        </ul>
      </div>
    </section>
    <a
      href="#"
      id="sidenav-close"
      class="sidebar__close"
      title="Close Menu"
    ></a>
  </aside>
  <header class="surface-two shadow-one">
    <nav class="nav row">
      <ul class="nav__list row">
        <li class="hamburger nav__hamburger"><a
          href="#sidenav-open"
          id="sidenav-button"
          title="Open Menu"
          aria-label="Open Menu"
        >
        <span class="nav__item nav__item--menu material-icons">menu</span>
        </a></li>
        <li class="nav__item logo">Nova UI</li>
      </ul>
      <ul class="nav__list hide nav__list--box">
        <li class="nav__item nav__item--pages"><a href="/index.html"
          >Home</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="/pages/intro.html"
          >Documentation</a
        ></li>
        <li class="nav__item nav__item--pages"><a
          href="https://github.com/manish591/NovaUI"
          target="_blank"
          >Github</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="#">About</a></li>
      </ul>
      <ul class="nav__links row">
        <li><a href="https://github.com/manish591" target="_blank"
          ><img class="nav__img" src="/assets/github.png" alt="github"
        /></a></li>
        <li><a class="hide" href="https://twitter.com/manishdevrani77" target="_blank"
          ><img class="nav__img" src="/assets/twitter.png" alt="twitter"
        /></a></li>
        <li><a class="hide" href="https://www.linkedin.com/in/manishdevrani77/" target="_blank"
          ><img class="nav__img" src="/assets/linkedin.png" alt="linkedin"
        /></a></li>
        <li><button
          class="theme-toggle nav__img nav__theme nav__item"
          id="theme-toggle"
          data-label="auto"
          aria-label="theme-toggle"
        ></button></li>
      </ul>
    </nav>
  </header>
    <div class="component component--grid">
      <section class="sidenav flow-space">
        <div class="sidenav__get-started sidenav--line-bottom">
          <h3 class="sidenav__title">Getting Started</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/intro.html" class="sidenav__items-link">Installation</a></li>
          </ul>
        </div>
        <div class="sidenav__components sidenav--line-bottom">
          <h3 class="sidenav__title">Components</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
            <li class="sidenav__items"><a href="/pages/components/alert/alert.html"
              >Alert</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/badge/badge.html"
              >Badge</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/button/button.html"
              >Button</a
            ></li>
            <li class="sidenav__items links--selected"><a href="/pages/components/card/card.html"
              >Card</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/image/image.html"
              >Image</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/input/input.html"
              >Input</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/texts/text.html"
              >Text utilities</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/lists/list.html"
              >List</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/navigation/navigation.html"
              >Navigation</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/modal/modal.html"
              >Modal</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/ratings/ratings.html"
              >Ratings</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/toast/toast.html"
              >Toast</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/grid/grid.html"
              >Simplified grid</a
            ></li>
          </ul>
        </div>
      </section>
        <section class="feed">
          <div class="space-bottom flow-space-2">
            <h1 class="feed__title">Cards</h1>
            <p class="feed__text">Cards represent a surface that displays content of a single topic. You can use Nova's predefined classes to create responsive and diffrent varients cards.</p>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Basic Card</h2>
            <p class="feed__text">
              This card contains basic info, like image, little description, and cta.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <section class="card card--basic">
                  <div class="card__image-container">
                    <img
                      src="https://images.unsplash.com/photo-1640659234623-5448f914f208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMwfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                      alt=""
                      class="card__image"
                    />
                  </div>
                  <div class="card__content">
                    <h2 class="card__title">Our Changing Planet</h2>
                    <p class="card__author">by Manish Devrani</p>
                    <p class="card__info">
                      Visit ten places on our planet that are undergoing the biggest
                      changes today.
                    </p>
                  </div>
                  <div class="card__navigation">
                      <div class="row">
                          <button class="card__btn card__btn--text">Read</button>
                          <button class="card__btn card__btn--text">Bookmark</button>
                      </div>
                      <div class="row">
                        <span class="material-icons material-icon-size card__btn card__btn--icon">favorite</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">share</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">more_vert</span>
                      </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fcard.html%23L1-L28&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Card With Badges</h2>
            <p class="feed__text">
              This type of card attract user attention by showing them some important points like discount details, any offer, any deadline.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <section class="card card--basic">
                  <div class="card__image-container">
                    <img
                    src="https://images.unsplash.com/photo-1640659234623-5448f914f208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMwfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                      alt=""
                      class="card__image"
                    />
                    <div class="card__badge">
                      <p>30% Off For subscription today</p>
                    </div>
                  </div>
                  <div class="card__content">
                    <h2 class="card__title">Our Changing Planet</h2>
                    <p class="card__author">by Manish Devrani</p>
                    <p class="card__info">
                      Visit ten places on our planet that are undergoing the biggest
                      changes today.
                    </p>
                  </div>
                  <div class="card__navigation">
                      <div class="row">
                          <button class="card__btn card__btn--text">Read</button>
                          <button class="card__btn card__btn--text">Bookmark</button>
                      </div>
                      <div class="row">
                        <span class="material-icons material-icon-size card__btn card__btn--icon">favorite</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">share</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">more_vert</span>
                      </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fcard.html%23L32-L62&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Card With Dismiss</h2>
            <p class="feed__text">Dismissable cards can be removed from the view. Require you to implement javascript.</p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <section class="card card--basic">
                  <div class="card__image-container">
                    <img
                    src="https://images.unsplash.com/photo-1640659234623-5448f914f208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMwfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                      alt=""
                      class="card__image"
                    />
                    <div class="card__dismiss">
                      <span class="material-icons">clear</span>
                    </div>
                  </div>
                  <div class="card__content">
                    <h2 class="card__title">Our Changing Planet</h2>
                    <p class="card__author">by Manish Devrani</p>
                    <p class="card__info">
                      Visit ten places on our planet that are undergoing the biggest
                      changes today.
                    </p>
                  </div>
                  <div class="card__navigation">
                      <div class="row">
                          <button class="card__btn card__btn--text">Read</button>
                          <button class="card__btn card__btn--text">Bookmark</button>
                      </div>
                      <div class="row">
                        <span class="material-icons material-icon-size card__btn card__btn--icon">favorite</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">share</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">more_vert</span>
                      </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fcard.html%23L66-L96&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Card With Text Overlay</h2>
            <p class="feed__text">
              Text information will be displayed over image.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <section class="card card--text-over-media">
                  <div class="card__image-container">
                    <img
                    src="https://images.unsplash.com/photo-1640659234623-5448f914f208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMwfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                      alt=""
                      class="card__image"
                    />
                    <div class="card__content-above">
                      <h2 class="card__title">Our Changing Planet</h2>
                      <p class="card__author">by Manish Devrani</p>
                    </div>
                  </div>
                  <div class="card__content">
                      <p class="card__info">Visit ten places on our planet that are undergoing the biggest changes today.</p>
                  </div>
                  <div class="card__navigation">
                      <div class="row">
                          <button class="card__btn card__btn--text">Read</button>
                          <button class="card__btn card__btn--text">Bookmark</button>
                      </div>
                      <div class="row">
                        <span class="material-icons card__btn card__btn--icon">favorite_border</span>
                        <span class="material-icons card__btn card__btn--icon">share</span>
                        <span class="material-icons card__btn card__btn--icon">more_vert</span>
                      </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fcartd-overlay.html%23L1-L29&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Text Only Card</h2>
            <p class="feed__text">
              This is basic card without images.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <section class="card card--basic">
                  <div class="card__content">
                    <h2 class="card__title">Our Changing Planet</h2>
                    <p class="card__author">by Manish Devrani</p>
                    <p class="card__info">
                      Visit ten places on our planet that are undergoing the biggest
                      changes today.
                    </p>
                  </div>
                  <div class="card__navigation">
                      <div class="row">
                          <button class="card__btn card__btn--text">Read</button>
                          <button class="card__btn card__btn--text">Bookmark</button>
                      </div>
                      <div class="row">
                        <span class="material-icons material-icon-size card__btn card__btn--icon">favorite</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">share</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">more_vert</span>
                      </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fcard.html%23L130-L150&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Horizontal/Vertical Card</h2>
            <p class="feed__text">
              This is a horizontal varients of previous cards.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <section class="card card--horizontal">
                  <div class="card__image-container">
                    <img
                      src="https://images.unsplash.com/photo-1640659234623-5448f914f208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMwfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                      alt=""
                      class="card__image"
                    />
                  </div>
                  <div class="card__content">
                    <h2 class="card__title">Our Changing Planet</h2>
                    <p class="card__author">by Manish Devrani</p>
                    <p class="card__info">
                      Visit ten places on our planet that are undergoing the biggest
                      changes today.
                    </p>
                  </div>
                  <div class="card__navigation">
                      <div class="row">
                          <button class="card__btn card__btn--text">Read</button>
                          <button class="card__btn card__btn--text">Bookmark</button>
                      </div>
                      <div class="row">
                        <span class="material-icons material-icon-size card__btn card__btn--icon">favorite</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">share</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">more_vert</span>
                      </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fcard.html%23L153-L180&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Cards With Shadow</h2>
            <p class="feed__text">
              Here we have added box shadow to give them more user friendly look.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <section class="card card--shadow">
                  <div class="card__image-container">
                    <img
                      src="https://images.unsplash.com/photo-1640659234623-5448f914f208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMwfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                      alt=""
                      class="card__image"
                    />
                  </div>
                  <div class="card__content">
                    <h2 class="card__title">Our Changing Planet</h2>
                    <p class="card__author">by Manish Devrani</p>
                    <p class="card__info">
                      Visit ten places on our planet that are undergoing the biggest
                      changes today.
                    </p>
                  </div>
                  <div class="card__navigation">
                      <div class="row">
                          <button class="card__btn card__btn--text">Read</button>
                          <button class="card__btn card__btn--text">Bookmark</button>
                      </div>
                      <div class="row">
                        <span class="material-icons material-icon-size card__btn card__btn--icon">favorite</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">share</span>
                        <span class="material-icons material-icon-size card__btn card__btn--icon">more_vert</span>
                      </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fcard.html%23L184-L211&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
        </section>
    </div>
</body>
</html>