<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova-Documentation</title>
    <script src="/javascript/theme.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/design-system.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/comp-page.css">
    <link rel="stylesheet" href="/pages/components/button/button.css">
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
<body class="surface-one">
  <aside class="sidebar grid" id="sidenav-open">
    <section class="sidebar__content">
      <div class="sidebar__top flex">
        <h2 class="sidebar__title">Nova UI</h2>
      </div>
      <div class="sidebar__bottom">
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Get Started</p></li>
          <li class="sidebar__list-item"><a href="#">Installation</a></li>
          <li><a href="#" class="sidebar__list-item">Learn</a></li>
          <li><a href="#" class="sidebar__list-item">Usage</a></li>
          <li><a href="#" class="sidebar__list-item">Examples</a></li>
          <li><a href="#" class="sidebar__list-item">Conclusion</a></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Components</p></li>
          <li class="sidebar__list-item"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/alert/alert.html"
            >Alert</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/badge/badge.html"
            >Badge</li></a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/button/button.html"
            >Button</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/card/card.html"
            >Card</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/image/image.html"
            >Images</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/input/input.html"
            >Input</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/texts/text.html"
            >Text Utilities</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/lists/list.html"
            >List</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/navigation/navigation.html"
            >Navigation</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/modal/modal.html"
            >Modal</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/ratings/ratings.html"
            >Ratings</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/toast/toast.html"
            >Toast</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/grid/grid.html"
            >Simplified Grid</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/slider/slider.html"
            >Slider</a
          ></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Design System</p></li>
        </ul>
      </div>
    </section>
    <a
      href="#"
      id="sidenav-close"
      class="sidebar__close"
      title="Close Menu"
    ></a>
  </aside>
  <header class="surface-two shadow-one">
    <nav class="nav row">
      <ul class="nav__list row">
        <li class="hamburger nav__hamburger"><a
          href="#sidenav-open"
          id="sidenav-button"
          title="Open Menu"
          aria-label="Open Menu"
        >
          <img
            src="/assets/menu_black_24dp (1).svg"
            alt=""
            class="nav__item"
          />
        </a></li>
        <li class="nav__item logo">Nova <span>UI</span></li>
      </ul>
      <ul class="nav__list hide nav__list--box">
        <li class="nav__item nav__item--pages"><a href="/index.html"
          >Home</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="/pages/intro.html"
          >Documentation</a
        ></li>
        <li class="nav__item nav__item--pages"><a
          href="https://github.com/manish591/NovaUI"
          >Github</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="#">About</a></li>
      </ul>
      <ul class="nav__links row">
        <li><a href="https://github.com/manish591"
          ><img class="nav__img" src="/assets/github.png" alt=""
        /></a></li>
        <li><a class="hide" href="https://twitter.com/manishdevrani77"
          ><img class="nav__img" src="/assets/twitter.png" alt=""
        /></a></li>
        <li><a class="hide" href="https://www.linkedin.com/in/manishdevrani77/"
          ><img class="nav__img" src="/assets/linkedin.png" alt=""
        /></a></li>
        <li><button
          class="theme-toggle nav__img nav__theme nav__item"
          id="theme-toggle"
          data-label="auto"
        ></button></li>
      </ul>
    </nav>
  </header>
    <div class="component component--grid">
      <section class="sidenav flow-space">
        <div class="sidenav__get-started">
          <h3 class="sidenav__title">Getting Started</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/intro.html" class="sidenav__items-link">Installation</a></li>
            <li class="sidenav__items"><a href="#">Learn</a></li>
            <li class="sidenav__items"><a href="#">Usage</a></li>
            <li class="sidenav__items"><a href="#">Example</a></li>
            <li class="sidenav__items"><a href="#">Conclusion</a></li>
          </ul>
        </div>
        <div class="sidenav__components">
          <h3 class="sidenav__title">Components</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
            <li class="sidenav__items"><a href="/pages/components/alert/alert.html"
              >Alert</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/badge/badge.html"
              >Badge</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/button/button.html"
              >Button</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/card/card.html"
              >Card</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/image/image.html"
              >Image</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/input/input.html"
              >Input</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/texts/text.html"
              >Text utilities</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/lists/list.html"
              >List</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/navigation/navigation.html"
              >Navigation</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/modal/modal.html"
              >Modal</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/ratings/ratings.html"
              >Ratings</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/toast/toast.html"
              >Toast</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/grid/grid.html"
              >Simplified grid</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/slider/slider.html"
              >Slider</a
            ></li>
          </ul>
        </div>
        <div class="sidenav__design-system">
          <h3 class="sidenav__title">Design System</h3>
        </div>
      </section>
        <section class="feed">
          <div class="space-bottom flow-space-2">
            <h1 class="feed__title">Button</h1>
            <p class="feed__text">Buttons are everywhere on the web. They represent actions that user can take. We can see buttons throughout the we like in cards, in modals etc.</p>
          </div>
          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Contained Buttons</h3>
            <p class="feed__text">
              This is the most basic type of button you can see on the web. Use the class button ans button--contained.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--row">
                <button class="btn btn--contained-primary">
                  <span class="btn__content">Primary</span>
                </button>
                <button class="btn btn--contained-secondary">
                  <span class="btn__content">Secondary</span>
                </button>
                <button class="btn btn--contained-warning">
                  <span class="btn__content">warning</span>
                </button>
                <button class="btn btn--contained-success">
                  <span class="btn__content">Success</span>
                </button>
                <button class="btn btn--contained-danger">
                  <span class="btn__content">Danger</span>
                </button>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <img
                  src="/images/keyboard_arrow_down_black_18dp.svg"
                  alt=""
                  class="feed__source-icon"
                />
              </div>
              <div class="feed__code feed__code--hide">
                
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Outlined Buttons</h3>
            <p class="feed__text">
              Outlined button are not filled but have a border on them. Use button--outlined-primary class to create a outlined button.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--row">
                <button class="btn btn--outlined-primary">
                  <span class="btn__content">Primary</span>
                </button>
                <button class="btn btn--outlined-secondary">
                  <span class="btn__content">Secondary</span>
                </button>
                <button class="btn btn--outlined-warning">
                  <span class="btn__content">warning</span>
                </button>
                <button class="btn btn--outlined-success">
                  <span class="btn__content">Success</span>
                </button>
                <button class="btn btn--outlined-danger">
                  <span class="btn__content">Danger</span>
                </button>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <img
                  src="/images/keyboard_arrow_down_black_18dp.svg"
                  alt=""
                  class="feed__source-icon"
                />
              </div>
              <div class="feed__code feed__code--hide">
                
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Text Buttons</h3>
            <p class="feed__text">
              Sometimes you can see a text button. Use class btn--text-primary.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--row">
                <button class="btn btn--text">
                  <span class="btn__content">Primary</span>
                </button>
                <button class="btn btn--text">
                  <span class="btn__content">Secondary</span>
                </button>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <img
                  src="/images/keyboard_arrow_down_black_18dp.svg"
                  alt=""
                  class="feed__source-icon"
                />
              </div>
              <div class="feed__code feed__code--hide">
                
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Link Buttons</h3>
            <p class="feed__text">
              Link can lead you to a diffrent page while button denotes action. You can style a link as a button using our predefined classes. Always use anchor tags for link button.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--row">
                <a href="#" class="btn btn--contained-primary btn--center">
                  <span class="btn__content">Primary</span>
                </a>
                <a href="#" class="btn btn--text btn--center">
                  <span class="btn__content">Secondary</span>
                </a>
                <a href="#" class="btn btn--center btn--outlined-danger">
                  <span class="btn__content">Secondary</span>
                </a>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <img
                  src="/images/keyboard_arrow_down_black_18dp.svg"
                  alt=""
                  class="feed__source-icon"
                />
              </div>
              <div class="feed__code feed__code--hide">
                
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Icon Buttons</h3>
            <p class="feed__text">
              Icon button are very common that you can see in ecommerce websites.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--row">
                <button class="btn--icon btn--center">
                  <span class="material-icons">delete</span>
                </button>
                <button class="btn--icon btn--center">
                  <span class="material-icons">check</span>
                </button>
                <button class="btn--icon btn--center">
                  <span class="material-icons">shopping_cart</span>
                </button>
                <button class="btn--icon btn--center">
                  <span class="material-icons">clear</span>
                </button>
                <button class="btn--icon btn--center">
                  <span class="material-icons">favorite</span>
                </button>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <img
                  src="/images/keyboard_arrow_down_black_18dp.svg"
                  alt=""
                  class="feed__source-icon"
                />
              </div>
              <div class="feed__code feed__code--hide">
                
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h3 class="feed__subtitle">Floating Action Buttons</h3>
            <p class="feed__text">
              Normally found in circular shapes with a icon in middle. It perform primary task in the page.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo feed__demo--flex">
                <button class="btn--floating btn--center">
                  <span class="material-icons">add</span>
                </button>
                <button class="btn--floating btn--center">
                  <span class="material-icons">edit</span>
                </button>
                <button class="btn--floating btn--center">
                  <span class="material-icons">expand_less</span>
                </button>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <img
                  src="/images/keyboard_arrow_down_black_18dp.svg"
                  alt=""
                  class="feed__source-icon"
                />
              </div>
              <div class="feed__code feed__code--hide">
                
              </div>
            </div>
          </div>
        </section>
    </div>
</body>
</html>