<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Modal are draws over everything on the web to give user quick message. You can close then using clear button. They uses position fixed.">
    <meta name="author" content="Manish devrani">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <title>Nova | Modal</title>
    <script src="/javascript/theme.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/design-system.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/comp-page.css">
    <link rel="stylesheet" href="./modal.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>
<body class="surface-one">
  <aside class="sidebar grid" id="sidenav-open">
    <section class="sidebar__content">
      <div class="sidebar__top flex">
        <h2 class="sidebar__title">Nova UI</h2>
      </div>
      <div class="sidebar__bottom">
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Get Started</p></li>
          <li class="sidebar__list-item"><a href="/pages/intro.html">Installation</a></li>
        </ul>
        <ul class="flex sidebar__list">
          <li><p class="sidebar__list-category">Components</p></li>
          <li class="sidebar__list-item"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/alert/alert.html"
            >Alert</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/badge/badge.html"
            >Badge</li></a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/button/button.html"
            >Button</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/card/card.html"
            >Card</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/image/image.html"
            >Images</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/input/input.html"
            >Input</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/texts/text.html"
            >Text Utilities</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/lists/list.html"
            >List</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/navigation/navigation.html"
            >Navigation</a
          ></li>
          <li class="sidebar__list-item links--selected"><a
            href="/pages/components/modal/modal.html"
            >Modal</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/ratings/ratings.html"
            >Ratings</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/toast/toast.html"
            >Toast</a
          ></li>
          <li class="sidebar__list-item"><a
            href="/pages/components/grid/grid.html"
            >Simplified Grid</a
          ></li>
        </ul>
      </div>
    </section>
    <a
      href="#"
      id="sidenav-close"
      class="sidebar__close"
      title="Close Menu"
    ></a>
  </aside>
  <header class="surface-two shadow-one">
    <nav class="nav row">
      <ul class="nav__list row">
        <li class="hamburger nav__hamburger"><a
          href="#sidenav-open"
          id="sidenav-button"
          title="Open Menu"
          aria-label="Open Menu"
        >
        <span class="nav__item nav__item--menu material-icons">menu</span>
        </a></li>
        <li class="nav__item logo">Nova UI</li>
      </ul>
      <ul class="nav__list hide nav__list--box">
        <li class="nav__item nav__item--pages"><a href="/index.html"
          >Home</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="/pages/intro.html"
          >Documentation</a
        ></li>
        <li class="nav__item nav__item--pages"><a
          href="https://github.com/manish591/NovaUI"
          target="_blank"
          >Github</a
        ></li>
        <li class="nav__item nav__item--pages"><a href="#">About</a></li>
      </ul>
      <ul class="nav__links row">
        <li><a href="https://github.com/manish591" target="_blank"
          ><img class="nav__img" src="/assets/github.png" alt="github"
        /></a></li>
        <li><a class="hide" href="https://twitter.com/manishdevrani77" target="_blank"
          ><img class="nav__img" src="/assets/twitter.png" alt="twitter"
        /></a></li>
        <li><a class="hide" href="https://www.linkedin.com/in/manishdevrani77/" target="_blank"
          ><img class="nav__img" src="/assets/linkedin.png" alt="linkedin"
        /></a></li>
        <li><button
          class="theme-toggle nav__img nav__theme nav__item"
          id="theme-toggle"
          data-label="auto"
          aria-label="theme-toggle"
        ></button></li>
      </ul>
    </nav>
  </header>
    <div class="component component--grid">
      <section class="sidenav flow-space">
        <div class="sidenav__get-started sidenav--line-bottom">
          <h3 class="sidenav__title">Getting Started</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/intro.html" class="sidenav__items-link">Installation</a></li>
          </ul>
        </div>
        <div class="sidenav__components sidenav--line-bottom">
          <h3 class="sidenav__title">Components</h3>
          <ul class="sidenav__list">
            <li class="sidenav__items"><a href="/pages/components/avatar/avatar.html">Avatar</a></li>
            <li class="sidenav__items"><a href="/pages/components/alert/alert.html"
              >Alert</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/badge/badge.html"
              >Badge</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/button/button.html"
              >Button</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/card/card.html"
              >Card</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/image/image.html"
              >Image</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/input/input.html"
              >Input</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/texts/text.html"
              >Text utilities</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/lists/list.html"
              >List</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/navigation/navigation.html"
              >Navigation</a
            ></li>
            <li class="sidenav__items links--selected"><a href="/pages/components/modal/modal.html"
              >Modal</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/ratings/ratings.html"
              >Ratings</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/toast/toast.html"
              >Toast</a
            ></li>
            <li class="sidenav__items"><a href="/pages/components/grid/grid.html"
              >Simplified grid</a
            ></li>
          </ul>
        </div>
      </section>
        <section class="feed">
          <div class="space-bottom flow-space-2">
            <h1 class="feed__title">Modal</h1>
            <p class="feed__text">Modal are draws over everything on the web to give user quick message. You can close then using clear button. They uses position <span class="text-mark">fixed</span></p>.
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Example For Modal</h2>
            <p class="feed__text">
              To show modal example we have removed position properties from this component.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <section class="dialog dialog--demo">
                  <div class="dialog__content">
                    <span class="material-icons dialog__clear">clear</span>
                    <div class="dialog__info wrapper">
                        <h3 class="dialog__header">Dialog Header</h3>
                        <p class="dialog__description">Dialog body text</p>
                    </div>
                    <div class="dialog__cta wrapper">
                        <button class="dialog__action-btn">Action 1</button>
                        <button class="dialog__action-btn">Action 2</button>
                    </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fmodal.html%23L1-L13&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Live Demo</h2>
            <p class="feed__text">
              You can see here how modal will look on a real website by clicking on live demo button. Use varient class <span class="text-mark">.dialog--alert</span> to create basic modal component. These components require javascript, so include javascript for them to work.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <button class="show-modal">Live Demo</button>

                <section class="dialog dialog--alert dialog--hide">
                  <div class="dialog__content">
                    <span class="material-icons dialog__clear">clear</span>
                    <div class="dialog__info wrapper">
                        <h3 class="dialog__header">Dialog Header</h3>
                        <p class="dialog__description">Dialog body text</p>
                    </div>
                    <div class="dialog__cta wrapper">
                        <button class="dialog__action-btn">Action 1</button>
                        <button class="dialog__action-btn">Action 2</button>
                    </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fmodal.html%23L18-L30&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Simple Modal</h2>
            <p class="feed__text">
              This modal describes a list. Create this by replacing the class <span class="text-mark">.dialog--alert</span> with class <span class="text-mark">.dialog--simple</span>.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <button class="show-modal">Simple Modal</button>

                <section class="dialog dialog--simple dialog--hide">
                  <div class="dialog__content">
                    <span class="material-icons dialog__clear">clear</span>
                    <div class="dialog__info wrapper">
                      <h3 class="dialog__header">Dialog Header</h3>
                    </div>
                    <div class="dialog__options wrapper-2">
                        <div class="dialog__item">
                            <span class="material-icons dialog__avator md-size">account_circle</span>
                            <p class="dialog__item-name">Item 1</p>
                        </div>
                        <div class="dialog__item">
                            <span class="material-icons dialog__avator md-size">account_circle</span>
                            <p class="dialog__item-name">Item 2</p>
                        </div>
                        <div class="dialog__item">
                            <span class="material-icons dialog__avator md-size">account_circle</span>
                            <p class="dialog__item-name">Item 3</p>
                        </div>
                    </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fmodal.html%23L35-L56&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
          <div class="flow-space-2 space-bottom">
            <h2 class="feed__subtitle">Confirmation Modal</h2>
            <p class="feed__text">
              This is the other modal varient that can be created using class <span class="text-mark">.dialog--confirmation</span>.
            </p>
            <div class="feed__component-display">
              <section class="feed__demo">
                <button class="show-modal">Confirmation Modal</button>

                <section class="dialog dialog--confirmation dialog--hide">
                  <div class="dialog__content">
                    <span class="material-icons dialog__clear">clear</span>
                    <div class="dialog__info dialog__info--confirm">
                      <h3 class="dialog__header dialog__header--confirm">Dialog Header</h3>
                    </div>
                    <form class="dialog__form">
                        <div class="dialog__input-area dialog__input-area--flex">
                            <input type="radio" name="item" id="item1" class="dialog__input">
                            <label for="item1">Item 1</label>
                        </div>
                        <div class="dialog__input-area dialog__input-area--flex">
                            <input type="radio" name="item" id="item2" class="dialog__input">
                            <label for="item2">Item 2</label>
                        </div>
                        <div class="dialog__input-area dialog__input-area--flex">
                            <input type="radio" name="item" id="item3" class="dialog__input">
                            <label for="item3">Item 3</label>
                        </div>
                        <div class="dialog__input-area dialog__input-area--flex">
                            <input type="radio" name="item" id="item4" class="dialog__input">
                            <label for="item4">Item 4</label>
                        </div>
                    </form>
                    <div class="dialog__cta dialog__cta--confirm">
                        <button class="dialog__action-btn dialog__action-btn--gap-top">Action 1</button>
                        <button class="dialog__action-btn dialog__action-btn--gap-top">Action 2</button>
                    </div>
                  </div>
                </section>
              </section>
              <div class="feed__source-display">
                <button class="feed__code-source">Source</button>
                <span class="material-icons icons-small">expand_more</span>
              </div>
              <div class="feed__code">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmanish591%2Flearning_git%2Fblob%2Fmaster%2Fmodal.html%23L61-L90&style=night-owl&showCopy=on&fetchFromJsDelivr=on"></script>
              </div>
            </div>
          </div>
        </section>
    </div>

    <script src="./modal.js"></script>
</body>
</html>